body {
    background-image: url("https://www.filterforge.com/filters/11635-v7.jpg");
    background-repeat: repeat;
    border: 64px;
    border-image-source: url("http://i1172.photobucket.com/albums/r570/Gamex101/StoneTile.png");
    border-image-slice: 64 64;
    border-image-outset: 0;
    border-image-repeat: repeat;
    padding: 10px;
}

.list {
    border-radius: 10%;
    background: #808080;
    margin: 16px;
    padding: 5px;
}

.strike {
    text-decoration: line-through;
}

.itemdiv {
    border-radius: 10px;
    background: #808080;
    margin: auto;
    padding: 5px; 
    width: 500px;
    position: relative;
}

.additem {
    margin-left: 30%;
}

.firstItem {
    border-style: solid; 
    border-width: 2px; 
    border-top-width: 4px;
}

.middleItem {
    border-style: solid;
    border-width: 2px;
}

.lastItem {
    border-style: solid; 
    border-bottom-width: 4px;
}

.floatright {
    float: right;
}

.floatleft {
    float: left;
}

.itemtext {
    float: left;
    color: white;
}

.itemtextlinethrough {
    float: left;
    color: white;
    text-decoration: line-through;
}

.pacman {
    width: 20px;
    height: 20px;
    position: absolute;
    background-image: url("Original_PacMan.png");
    background-repeat: no-repeat;
    background-size: contain;
}

.pacmanclose {
    width: 20px;
    height: 20px;
    position: absolute;
    background-image: url("Closed_PacMan.png");
    background-repeat: no-repeat;
    background-size: contain;
}
